#topBanner p{
  font-size: 48px;
  width: 100%;
  text-align: center;
  font-family: Arial;
  color: white;
  text-decoration: none;
  background-color: #363636ab;
}
#topBanner{
  width:100%;
  height: 60px;
  background-color: #363636ab;
  display: block;
}